@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

/* HEADER */


.content_header{
    width: 100vw;
    height: 110px;
    flex-shrink: 0;
    border-radius: 0px 0px 34px 34px;
    background: var(--bleu-trs-clair-background, #B9E0FF);
}

.content_title-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0 10vw;
    height: 100%;
}

.content_title-header .burger-header i{
    font-size: 30px;
    flex-shrink: 0;
    color: #004A5A;
}

.content_title-header h1{
    color: var(--texte, #004A5A);
    font-size: 19px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* MENU DE NAVIGATION */


.burger_content-header{
    position: absolute;
    top: 0px;
    left: 0;
    width: 80vw;
    height: 100vh;
    background: var(--bleu-trs-clair-background, #DDF0FF);
    z-index: 100;
    border-radius: 0px 25px 0px 0px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.6s ease-out;
}

.burger_content_title-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.burger_content_title-header img{
    width: auto;
    height: 30px;
}

.burger_content_title-header h1{
    color: var(--bleu-moyen, #56B8D6);
    text-align: right;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.burger_content_content-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: left;
}

.burger_content_trait_header{
    width: 198px;
    height: 0.5px;
    background: #56B8D6;
    margin: 20px 0;
}

.burger_content_link-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    width: 200px;
    
}

.burger_content_link-header i{
    font-size: 20px;
    color: #004A5A;
    margin-right: 10px;
}

.burger_content_link-header p{
    color: var(--texte, #004A5A);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}




/*  */


.acc{
    background-color: #B9E0FF;
    font-family: 'Montserrat', sans-serif;
}
.acc>main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.acc_illu{
    margin-top: 11vh;
}
.acc_illu>img{
    width: 81vw;
}
.acc_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.acc_text>h1{
    font-size: 2rem;
    font-weight: 900;
    color: #004A5A;
    margin-top: 3vh;
}
.acc_text>p{
    text-align: center;
    font-weight: 500;
    color: #004A5A;
    font-size: 0.7rem;
}
.acc_text>p>span{
    font-weight: 600;
}
.acc_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register_btn{
    background-color: #56B8D6;
    color: #004A5A;
    border: none;
    border-radius: 25px;
    padding: 1.5vh 15vw;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 3vh;
    cursor: pointer;
    text-decoration: none;
}
.login_btn{
    margin-top: 2vh;
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: underline;
    color: #004A5A;
}

.login{
    
    background-color: #B9E0FF;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}
.login>main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}
.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_inpt{
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    width: 65vw;
    height: 4.5vh;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 2vh;
}

.login_inpt::placeholder{
    color: rgba(50, 125, 142, 0.4);
}
.login_title{
    color: #004A5A;
    font-weight: 900;
    font-size: 1.5rem;
}
.back_btn{
    position: absolute;
    top: 2vh;
    left: 4vw;
    font-size: 1.5rem;
    color: #004A5A;
    cursor: pointer;
}
.back_btn>img{
    width: 1.7rem;
}
#barre_register{
    width: 15vw;
    height: 0.2vh;
    border-radius: 15px;
    background-color: #004A5A;
    margin-top: 2vh;
    margin-bottom: 1vh;
}







